.button-div {
    margin: 3%;
}

html, body, #root {
    background-color: rgba(7,7,14,0.17);
}

.rowC {
    display:flex;
    flex-direction:row;
}

.show-poll {
    margin: 3%;
}

.show-available-rooms {
    margin-left: 2%;
}

.available-rooms-button {
    margin-left: 2%;
}

.remove-option {
    margin-left: 1%;
}

.remove-participant {
    margin-left: 2%;
}

.name-placeholder {
    width: 20% !important;
    margin-top: 2%;
    margin-left: 2%;
}

p.solid {
    border-style: solid;
    width: 40%;
    margin-left: 5%;
}

.vote-button {
    margin-left: 2%;
    margin-bottom: 1%;
}

.room-number-input {
    margin-left: 10%;
    width: 60% !important;
}

.create-poll {
    margin-left: 85%;
    margin-top: 1%;
    width: 8%;
}

.title-label-location {
    margin-top: 8%;
    margin-left: 35%;
}

.title-placeholder-location {
    margin-top: 8%;
    margin-left: 1%;
    width: 30% !important;
}

.invitee-label-location {
    margin-left: 34%;
}

.invitee-placeholder-location {
    margin-left: 1%;
    width: 30% !important;
}

.option-location {
    margin-left: 34%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.datetime-location {
    margin-left: 2%;
}

.add-invitee-location {
    margin-left: 37%;
}

.add-option-location {
    margin-top: 1%;
    margin-left: 37%;
}

.submit-create-poll-location {
    margin-left: 37%;
    margin-top: 1%;
}

.show-errors {
    border-style: solid;
    width: 30%;
    margin-left: 37%;
}

.comment-box {
    margin-left: 3%;
}

.comment-header {
    margin-left: 3%;
    font-weight: bold;
}

.post-comment {
    margin-left: 2%;
}

.comment-textarea {
    width: 90% !important;
}

.addoption {
    margin-left: 3%;
    margin-bottom: 2%;
}

.back-location {
    margin: 2%;
}

.invitee-label-location-2 {
    margin-left: 2%;
}

.invitee-placeholder-location-2 {
    margin-left: 1%;
    width: 30% !important;
}
