.box-location {
    margin-left: 40%;
    margin-bottom: 2%;
}

.checkbox {
    margin-left: 5%;
}

.title {
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 2%;
}

.save-location {
    margin-left: 40%;
}